.col-3{
    display: flex;
    width: 270px;
    background-color: black;

}
.col-3>ul{
    list-style-type: none;
}
.shop-part-one{
    width:800px;
    margin-right: 20px;
    
    background-color: white;
}

.genderFirstSection{
    width: 100px;
    height: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 7px;
    margin: 3px;

    background-color: #e0e0e0;
}
.twoFirstSection,.oneFirstSection{
    display: flex;
}