.section-one-wrapper{
    max-height: 120px;
    
    border:1px solid #ddd;
    display: flex;
    overflow-x: auto;
}
.item{
    width: 150px;
    line-height: 100px;
    height: 100px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
}