.section-one-wrapper{
    max-height: 120px;
    border:1px solid #ddd;
    display: flex;
    overflow-x: auto;
}
.item{
    width: 120px;
    justify-content: center;
    height: 120px;
    line-height: 110px;
    text-align: center;
    justify-items: center;
    background-color: #ddd;
}