.first-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}
ul{
    list-style-type: none;
}
.col-9 shop-part-two{
    background-color: white;
}