.specify-ul>li{
    margin-left: 5px;
    margin-right: 5px;
}
.specify-ul,.product_details,.rating_review,.r_r{
    display: flex;
}
.product_details>h3{
    margin-left: 60%;

}
.r_rp2{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 90px;
}