.productName{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.proudctPrice{
    font-family:'Roboto', sans-serif ;
    color: #388e3c;
    font-weight: light;
    padding-top: 8px;
    text-align: center;
}
.productDesc{
    font-family: 'Roboto', sans-serif;
    padding-top: 7px;
    opacity: 0.6;
}
.viewAll{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color:rgb(40,116,240) ;
    height: 50px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    align-content: center;
    font-weight: bold;
    color: white;
  
}