.img{
    justify-content: center;
    align-items: center;
    padding: auto;
}
.ProductName{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.index{
    height: 250px;
    width: 195px;
    margin: 10px;
    background-color: white;
}
.Price{
    font-size: 15px;
    color: #388e3c;

}
.ProductDesc{
    opacity: 0.8;
}
.ProductName,.Price,.ProductDesc{
    font-family: 'Roboto',sans-serif;
}