.img{
    justify-content: center;
    align-items: center;
    padding: auto;
}
.ProductName{
    text-align: center;
}
.index{
    height: 25  0px;
    width: 150px;
    background-color: burlywood;
}