.deals,.section-one{
    display: flex;
}
.imageCardlist{
    display: flex;
    font-family: 'Roboto',sans-serif;
}
.dataName{
    font-size: 18px;
    font-weight: bold;

}
.dataPrice{
    font-size: 15px;
    color: #;
}
.dataDesc{

}