.NavBar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.normalCardTitle,.tippyCardTitle{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 13px;

}
.normalCard,.tippyCard{
    margin-Top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.fashionTippy{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
}