th,td{
    padding: 5px;
    font-size: 15px;
    font-weight: lighter;
}
.main-footer{
    background-color: rgb(23, 35, 55);
    color: whitesmoke ;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.header{
    font-size: 15;
    font-weight: lighter;
}
.verticalLine{
   height: 90px;
   width: 0.1%;
   background-color: white;
  }